@import './helpers';
@import './media-queries';

$bootstrap-sass-asset-helper: false;
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css';

html {
  color: $black;
}

body {
  margin: 0;
  font-size: $font-size--normal;
  font-family: 'Arimo', sans-serif;
  font-weight: lighter;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;

  .t-body {
    width: 100%;
    height: 100%;
  }
}

.router-link-active {
  opacity: 1;

  span {
    opacity: 1 !important;
  }
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

.t-input--text, .t-input--date, .t-textarea {
  background-color: $grey;
  border: none;
  height: 34px;
  font-size: $font-size--normal;
  padding: $spacing-sm;
  display: block;
  width: 100%;

  &::placeholder {
    font-style: italic;
  }
}

.t-textarea {
  height: 112px;
}

.t-input--date {
  cursor: pointer;
}

.t-separator--big--horizontal {
  margin-top: $spacing-sm;
  margin-bottom: $spacing-sm;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid $grey;
}

.t-person {
  width: 100%;
  height: 100px;
  position: relative;
}

.t-person__image {
  position: absolute;
  background-color: #fff;
  border: 8px solid #f0f0f0;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  display: inline-block;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.t-person__info {
  width: 85%;
  height: 100%;
  background-color: #F0F0F0;
  position: absolute;
  top: 0;
  left: 15%;
  padding: 10px 1em 1em 15%;
}

.t-person__info__name {
  cursor: pointer;
}

.t-person__action {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.t-mode {
  position: relative;
  width: 120px;
  background-color: $grey;
  cursor: pointer;

  .t-mode__option {
    width: 48%;
    text-align: center;
    display: inline-block;

    &.t-mode__option--enabled {
      color: $white;
      background-color: $green;
    }
  }
}

.t-number--positive {
  color: $green;
}

.t-number--negative {
  color: $red;
}

.t-number--neutral {
  color: $black;
}

.t-button {
  width: 90px;
  height: 34px;
  color: $white;
  border: none;
  padding: $spacing-xs;

  &.t-button--primary {
    background-color: $green;

    &:hover {
      background-color: darken($green, 5);
    }
  }

  &.t-button--default {
    background-color: $lightGrey;

    &:hover {
      background-color: darken($lightGrey, 5);
    }
  }
}

.t-person-detail__image {
  width: 170px;
  height: 170px;
  border: 8px solid $grey;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin: auto;
}

.t-person-detail__alias {
  font-weight: bold;
  text-align: center;
  height: 34px;

  span {
    display: inline-block;
    height: 100%;
    padding: 3px;
    min-width: 200px;
  }

  .t-input--text {
    text-align: center;
    display: inline-block;
    min-width: 200px;
  }
}

.t-indicator--mandatory {
  color: $red;
}

.modal-content {
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.t-number--money {
  &::before {
    content: "$";
  }
}

.t-message {
  padding: $spacing-sm;

  &.t-message--error {
    border: 1px solid $red;
    color: $red;
    background-color: $lightRed;
  }
}