$green: #2FC841;
$grey: #F0F0F0;
$red: #DF3939;
$white: #FEFEFE;
$black: #000;
$almostBlack: #4B4B4B;
$font-size--normal: 16px;
$font-size--small: 12px;
$font-size--big: 20px;
$font-size--jumbo: 24px;
$spacing-xs: 4px;
$spacing-sm: 12px;
$spacing-md: 20px;
$spacing-lg: 28px;