<html>
    <head>
        <base href="<%- baseUrl %>" />
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
        <title>Especias El Trébol</title>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
